@charset "UTF-8";
/*=============================================
base
=============================================*/
html {
  overflow: auto; }

body {
  font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 16px;
  line-height: 1.7;
  color: #000;
  background-color: #fff;
  position: relative;
  min-width: 960px;
  -webkit-text-size-adjust: 100%; }

code {
  font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; }

.syntaxhighlighter {
  font-size: 90%; }

/* contents
--------------------------------------*/
#container {
  background: url("../img/bg.png") repeat left top #fff; }
  #container:after {
    content: "";
    display: block;
    clear: both;
    zoom: 1;
    /* For IE 6/7 (trigger hasLayout) */ }

#content {
  margin: 0 auto;
  padding: 20px;
  width: 920px;
  background-color: #fff;
  height: 1500px; }

section + * {
  margin-top: 40px; }

#btnmenu {
  text-align: right; }

/* footer
--------------------------------------*/
#pagetop {
  text-align: right; }

footer {
  background-color: #272727;
  color: #fff;
  font-size: 90%;
  padding: 5px 0;
  text-align: center; }

/*=============================================
contents
=============================================*/
